
<div class="global-container background-image">
  <div class="card sign-up-form mx-auto">
  <div class="mask">
    <div class="card-body">
<h2 class="card-title text-center">Forgot your password?</h2>
<div class="card-text px-5">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg"  %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block form-control form-control-lg" %>
  </div>
<% end %>

  <div class="action">
    <%= render "devise/shared/links" %>
  </div>

    </div>
    </div>
  </div>
</div>